*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
     
}

.container{
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #97FEED;
    background-color: white;
}
    
#display{
    color: black;
    margin: 0 10px;
    height: 110px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;

}

#equal{
height: 130px;

}

#clear{
    background-color: #FFFAD7;
    color:#E684AE ;
    font-weight: bold;
} 

.btn-number{
    background-color:#98EECC;
    color: black;
    font-weight: bold;
}

.btn-operator{
    background-color:#B2A4FF ;
    color:black ;
    font-weight: bold;
}

.btn-equal{
background-color: #B9E9FC;
color: black;
font-weight: bold;

}


.theme-toggler {
    color: black;
    background-color: black;
}



button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
   
}




